@model IEnumerable<OnlineShop.Models.Order>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@{
    ViewData["Title"] = "Đơn hàng đã nhận";
    Layout = "~/Areas/Shipper/Views/Shared/_ShipperLayout.cshtml";
}

<h2>Danh sách đơn hàng</h2>

<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Người đặt
            </th>
            <th>
                Người nhận
            </th>
            <th>
                Tình trạng thanh toán
            </th>
            <th>
                Tình trạng
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Receiver)
                </td>
                @if (item.IsPay == 0)
                {
                    <td>Chưa thanh toán</td>
                }
                @if (item.IsPay == 1)
                {
                    <td>Đã thanh toán</td>
                }
                <td>
                    <span class="btn btn-success">
                        @Html.DisplayFor(modelItem => item.Status.StatusName)
                    </span>
                </td>
                @if (item.Status.StatusName == "Đang giao")
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Home" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a> |
                        <a class="btn btn-primary" asp-controller="Home" asp-action="Delivered" asp-route-id="@item.OrderId">Đã giao</a>
                    </td>
                }
                else
                {
                    <td>
                        <a class="btn btn-warning" asp-controller="Home" asp-action="Details" asp-route-id="@item.OrderId">Chi tiết</a>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>
@Html.PagedListPager((IPagedList) Model, page => Url.Action("Index", new {page = page }),
new PagedListRenderOptions {
    LiElementClasses = new string[] {"page-item"},
    PageClasses = new string[] {"page-link"}
})
