@model OnlineShop.ViewModels.HomeViewModel
    <div class="main-wrapper">

        <!-- Begin Main Header Area -->
        <!-- Main Header Area End Here -->
        <!-- Begin Slider Area -->
        <div class="slider-area">

            <!-- Main Slider -->
            <div class="swiper-container main-slider-2 swiper-arrow with-bg_white">
                <div class="swiper-wrapper">
                    <div class="swiper-slide animation-style-01">
                    <div class="slide-inner bg-height" data-bg-image="//bizweb.dktcdn.net/100/256/244/themes/589543/assets/home-slider-3.jpg?1692780616664">
                            <div class="container">
                                <div class="slide-content">
                                   <div style="height:300px">

                                   </div>
                                    <div class="button-wrap">
                                        <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="@Url.Action("Index", "Product")">Cửa hàng</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide animation-style-01">
                    <div class="slide-inner bg-height" style="resize:inherit" data-bg-image="//bizweb.dktcdn.net/100/256/244/themes/589543/assets/home-slider-1.jpg?1692780616664">
                            <div class="container">
                                <div class="slide-content">
                                <div style="height:300px">
                                </div>
                                <div class="button-wrap">
                                    <a class="btn btn-custom-size lg-size btn-primary btn-white-hover rounded-0" href="@Url.Action("Index", "Product")">Cửa hàng</a>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Add Pagination -->
                <div class="swiper-pagination with-bg d-md-none"></div>

                <!-- Add Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>

        </div>
        <!-- Slider Area End Here -->
        <!-- Begin Product Area -->
        <div class="product-area product-style-2 section-space-y-axis-100">
            <div class="container">
                <div class="section-title text-center pb-55">
                    <span class="sub-title text-primary">Sản phẩm mới nhất</span>
                </div>
                <div class="row">
                @{
                    String class_name = "col-xl-3 col-lg-4 col-sm-6 pt-6";
                }
                @{
                    for (var i = 0; i < Model.productList.Count; i++)
                    {

                        
                                                <div class="@class_name">
                                                    <div class="product-item">
                                                        <div class="product-img img-zoom-effect">
                                                            <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.productList[i].ProductId">
                                                                <img class="img-full" src="~/upload/images/product/@Model.productList[i].Image" alt="Product Images">
                                                            </a>
                                                            <div class="product-add-action">
                                                                <ul>
                                                                    <li>
                                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.productList[i].ProductId">
                                                                            <i class="pe-7s-wallet"></i>
                                                                        </a>
                                                                    </li>
                                                                    <li>
                                                                        <a asp-controller="Product" asp-action="Detail" asp-route-id="@Model.productList[i].ProductId">
                                                                            <i class="pe-7s-cart"></i>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="product-content">
                                                           
                                                            @if(Model.productList[i].ProductName.Length < 20)
                                    {
                                                                <a class="product-name" asp-controller="Product" asp-action="Detail" asp-route-id="@Model.productList[i].ProductId">@Model.productList[i].ProductName </a>
                                                                <br />
                                    }
                                    else
                                    {
                                                                <a class="product-name" asp-controller="Product" asp-action="Detail" asp-route-id="@Model.productList[i].ProductId">@Model.productList[i].ProductName</a>
                                    }

                                                            <div class="price-box pb-1">
                                                                <span class="new-price">@Model.productList[i].PromotionalPrice.ToString("#,##0") VNĐ</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                    }
               }

            </div>
        </div>
        <!-- Product Area End Here -->
        <!-- Begin Shipping Area -->
        <div class="shipping-area section-space-top-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="assets/images/shipping/icon/plane.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Miễn phí vận chuyển</h5>
                                <p class="short-desc mb-0">Free Home Delivery Offer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-md-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="assets/images/shipping/icon/earphones.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Hỗ trợ online</h5>
                                <p class="short-desc mb-0">Hỗ trợ 24/7 </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 pt-6 pt-lg-0">
                        <div class="shipping-item">
                            <div class="shipping-img">
                                <img src="assets/images/shipping/icon/shield.png" alt="Shipping Icon">
                            </div>
                            <div class="shipping-content">
                                <h5 class="title">Bảo mật tài khoản</h5>
                                <p class="short-desc mb-0">Tài khoản an toàn</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shipping Area End Here -->
        <!-- Begin Brand Area -->
        <div class="brand-area section-space-y-axis-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container brand-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                        <img src="~/assets/images/brand/lenovo.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                    <img src="~/assets/images/brand/dell.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                    <img src="~/assets/images/brand/acer.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                    <img src="~/assets/images/brand/asus.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                    <img src="~/assets/images/brand/sony.png" alt="Brand Image">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                        <img src="~/assets/images/brand/samsung.png" alt="Brand Image">
                                    </a>
                                </div>
                                 <div class="swiper-slide">
                                    <a class="brand-item" href="javascript:void(0)">
                                    <img src="~/assets/images/brand/apple.png" alt="Brand Image">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Brand Area End Here -->
        <!-- Begin Scroll To Top -->
        <a class="scroll-to-top" href="">
            <i class="fa fa-chevron-up"></i>
        </a>
        <!-- Scroll To Top End Here -->
        <h2>Chat</h2>

        <div id="chatBox">
            <input type="text" id="userIdInput" placeholder="User ID">
        </div>
        <h1></h1>


        @section scripts{
            <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
           
            <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
            <script>
                var connection = new signalR.HubConnectionBuilder().withUrl("/chathub").build();
                
                connection.start().then(function () {
                    console.log("SignalR connected");
                }).catch(function (err) {
                    return console.error(err.toString());
                });
                document.addEventListener("DOMContentLoaded", function () {
                    getSessionValue("userId", function (sessionValue) {
                        if (!sessionValue){
                            var divToHide = document.getElementById("myChatBox");

                            // Ẩn div bằng cách đặt style.display thành "none"
                            divToHide.style.display = "none";
                        }
                    });
                });

                function sendMessage() {
                    var userId = document.getElementById("userIdInput").value;
                    var message = document.getElementById("messageChatInput").value;

                    if (userId && message) {

                        displayMessage("You", message);
                        
                        connection.invoke("SendMessageToUser", userId, message).catch(function (err) {
                            console.error(err.toString());
                        });
                    }


                }

                function displayMessage(sender, message) {
                    var chatFull = document.getElementById("chat_fullscreen");
                    var chatMsgItem = document.createElement("span");
                    chatMsgItem.className = "chat_msg_item chat_msg_item_user";
                    chatMsgItem.innerHTML = message;
                    chatFull.appendChild(chatMsgItem);
                }

                connection.on("ReceiveMessage", function (message) {
                    var chatFull = document.getElementById("chat_fullscreen");
                    var chatMsgItem = document.createElement("span");
                    chatMsgItem.className = "chat_msg_item chat_msg_item_admin";

                    chatMsgItem.innerHTML = '<div class="chat_avatar"><img src="/AdminAssets/img/avatars/avatar.jpg" style="border-radius:5px; max-height:50px; max-width: 50px;" /></div>' + message;

                    chatFull.appendChild(chatMsgItem);
                });
                
                function getSessionValue(key, callback) {
                    $.ajax({
                        url: '/Customer/GetSessionValue?key=' + key,
                        type: 'GET',
                        success: function (data) {
                            // Gọi hàm callback và truyền dữ liệu session vào đó
                            callback(data);
                        },
                        error: function (xhr, status, error) {
                            console.error('Error:', error);
                        }
                    });
                }
                /*
                document.getElementById("fab_send").addEventListener("click", function (event) {
                    var user = "";
                    getSessionValue("userName", function(sessionValue){
                        user = sessionValue;
                        var message = document.getElementById("messageChatInput").value;
                        connection.invoke("SendMessage", user, message).catch(function (err) {
                            return console.error(err.toString());
                        });
                        event.preventDefault();
                    });
                });
                
                connection.on("ReceiveMessage", function (user, message) {
                    var encodedMessage = user + " says: " + message;
                    var li = document.createElement("li");
                    li.textContent = encodedMessage;
                    document.getElementById("messagesList").appendChild(li);

                    var chatFull = document.getElementById("chat_fullscreen");
                    var chatMsgItem = document.createElement("span");
                    chatMsgItem.className = "chat_msg_item chat_msg_item_user";
                    chatMsgItem.innerHTML = message;
                    chatFull.appendChild(chatMsgItem);

                    // Cuộn xuống cuối cùng để hiển thị tin nhắn mới nhất
                    chatFull.scrollTop = chatFull.scrollHeight;
                });
                */
                //ChatBox
                hideChat(4);

                $('#prime').click(function () {
                    toggleFab();
                });


                //Toggle chat and links
                function toggleFab() {
                    $('.prime').toggleClass('zmdi-comment-outline');
                    $('.prime').toggleClass('zmdi-close');
                    $('.prime').toggleClass('is-active');
                    $('.prime').toggleClass('is-visible');
                    $('#prime').toggleClass('is-float');
                    $('.chat').toggleClass('is-visible');
                    $('.fab').toggleClass('is-visible');

                }

               

                $('#chat_fullscreen_loader').click(function (e) {
                    $('.fullscreen').toggleClass('zmdi-window-maximize');
                    $('.fullscreen').toggleClass('zmdi-window-restore');
                    $('.chat').toggleClass('chat_fullscreen');
                    $('.fab').toggleClass('is-hide');
                    $('.header_img').toggleClass('change_img');
                    $('.img_container').toggleClass('change_img');
                    $('.chat_header').toggleClass('chat_header2');
                    $('.fab_field').toggleClass('fab_field2');
                    $('.chat_converse').toggleClass('chat_converse2');
                    //$('#chat_converse').css('display', 'none');
                    // $('#chat_body').css('display', 'none');
                    // $('#chat_form').css('display', 'none');
                    // $('.chat_login').css('display', 'none');
                    // $('#chat_fullscreen').css('display', 'block');
                });

                function hideChat(hide) {
                    switch (hide) {
                        case 0:
                            $('#chat_converse').css('display', 'none');
                            $('#chat_body').css('display', 'none');
                            $('#chat_form').css('display', 'none');
                            $('.chat_login').css('display', 'block');
                            $('.chat_fullscreen_loader').css('display', 'none');
                            $('#chat_fullscreen').css('display', 'none');
                            break;
                        case 1:
                            $('#chat_converse').css('display', 'block');
                            $('#chat_body').css('display', 'none');
                            $('#chat_form').css('display', 'none');
                            $('.chat_login').css('display', 'none');
                            $('.chat_fullscreen_loader').css('display', 'block');
                            break;
                        case 2:
                            $('#chat_converse').css('display', 'none');
                            $('#chat_body').css('display', 'block');
                            $('#chat_form').css('display', 'none');
                            $('.chat_login').css('display', 'none');
                            $('.chat_fullscreen_loader').css('display', 'block');
                            break;
                        case 3:
                            $('#chat_converse').css('display', 'none');
                            $('#chat_body').css('display', 'none');
                            $('#chat_form').css('display', 'block');
                            $('.chat_login').css('display', 'none');
                            $('.chat_fullscreen_loader').css('display', 'block');
                            break;
                        case 4:
                            $('#chat_converse').css('display', 'none');
                            $('#chat_body').css('display', 'none');
                            $('#chat_form').css('display', 'none');
                            $('.chat_login').css('display', 'none');
                            $('.chat_fullscreen_loader').css('display', 'block');
                            $('#chat_fullscreen').css('display', 'block');
                            break;
                    }
                }
            </script>
        }
    </div>


        <div class="fabs" id="myChatBox">
            <div class="chat">
                <div class="chat_header">
                    <div class="chat_option">
                        <div class="header_img">
                            <img src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg" />
                        </div>
                        <span id="chat_head">Jane Doe</span><span class="online">(Online)</span>
                        <span id="chat_fullscreen_loader" class="chat_fullscreen_loader"><i class="fullscreen zmdi zmdi-window-maximize"></i></span>

                    </div>

                </div>
                <div id="chat_fullscreen" class="chat_conversion chat_converse">
                    @* <span class="chat_msg_item chat_msg_item_admin">
                        <div class="chat_avatar">
                            <img src="http://res.cloudinary.com/dqvwa7vpe/image/upload/v1496415051/avatar_ma6vug.jpg" />
                        </div>Hey there! Any question?
                    </span>
                    <span class="chat_msg_item chat_msg_item_user">
                        Hello!
                    </span>
                    <div class="status">20m ago</div>
                    <span class="chat_msg_item ">
                        <ul class="tags">
                            <li>Hats</li>
                            <li>T-Shirts</li>
                            <li>Pants</li>
                        </ul>
                    </span> *@
                </div>
                <div class="fab_field">
                    <a id="fab_camera" class="fab"><i class="zmdi zmdi-camera"></i></a>
                    <a id="fab_send" onclick="sendMessage()" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
                <textarea id="messageChatInput" name="chat_message" placeholder="Send a message" class="chat_field chat_message"></textarea>
                </div>
            </div>
            <a id="prime" class="fab"><i class="prime zmdi zmdi-comment-outline"></i></a>
        </div>


