@model List<OnlineShop.Models.CartItem>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
	<div class="cart-area section-space-y-axis-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					@if (ViewBag.cartItems != null && ViewBag.quantity > 0)
					{
							<div class="table-content table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="product-thumbnail">Ảnh sản phẩm</th>
											<th class="cart-product-name">Sản phẩm</th>
											<th class="product-price">Đơn giá</th>
											<th class="product-quantity">Số lượng</th>
											<th class="product-subtotal">Thành tiền</th>
											<th class="product_remove">Xoá</th>
										</tr>
									</thead>
									<tbody>
										@if (ViewBag.cartItems != null && ViewBag.quantity > 0)
										{
											foreach (var item in ViewBag.cartItems)
											{
												<tr>
													<td class="product-thumbnail">
														<a href="#">
															<img src="~/upload/images/product/@item.Image" alt="@item.ProductName" style="border-radius:5px; max-height:100px; max-width: 100px;">
														</a>
													</td>
													<td class="product-name"><a href="#">@item.ProductName</a></td>
													<td class="product-price"><span class="amount">@item.PromotionalPrice.ToString("#,##0") VNĐ</span></td>
												<td class="quantity">
														<div class="cart-plus-minus">
															<input class="cart-plus-minus-box" value="@item.Count" min="0" type="text" id="quantityInput">
															<input  value="@item.CartItemId" type="hidden" id="cartItemId">
														</div>

												</td>

													<td class="product-subtotal"><span class="amount">@item.Total.ToString("#,##0") VNĐ</span></td>
													<td class="product_remove">
														<form asp-controller="ShoppingCart" asp-action="Remove" method="post">
															<input name="id" value="@item.CartItemId" type="hidden"/>
															<button type="submit" class="pe-7s-close"></button>
														</form>
													</td>
												</tr>
											}
										}
									</tbody>
								@section Scripts {
								<script>
									document.addEventListener('DOMContentLoaded', function () {
										// Lấy phần tử input và form theo ID
										var quantityInput = document.getElementById("quantityInput");
										var cartItemId = document.getElementById("cartItemId");
										console.log(quantityInput.value)
										var myForm = document.getElementById("myForm");
										// Bắt sự kiện khi giá trị thay đổi
										quantityInput.addEventListener("change", () => {
											updateCart(quantityInput.value, cartItemId.value);

										});
										$('.cart-plus-minus').append(
											'<div class="dec qtybutton"><i class="fa fa-minus"></i></div><div class="inc qtybutton"><i class="fa fa-plus"></i></div>'
										);
										$('.qtybutton').on('click', function () {
											var myForm = document.getElementById("myForm");
											var quantityInput = document.getElementById("quantityInput");
											var cartItemId = document.getElementById("cartItemId");
											var $button = $(this);
											var oldValue = $button.parent().find('input').val();

											if ($button.hasClass('inc')) {
												var newVal = parseFloat(oldValue) + 1;
												quantityInput.value = newVal;
											} else {
													var newVal = parseFloat(oldValue) - 1;
													quantityInput.value = newVal;
											}

											updateCart(quantityInput.value, cartItemId.value);
											$button.parent().find('input').val(newVal);
										});
										function updateCart(newQuantity, cartItemId) {
											var url = '@Url.Action("UpdateCart", "ShoppingCart")' + '?cartItemId=' + cartItemId + '&count=' + newQuantity;
											$.ajax({
												url: url,
												type: 'GET',
												success: function (data) {
													console.log('Cart updated successfully:', data);
													location.reload(true);
												},
												error: function (error) {
													console.error('Error updating cart:', error);
													location.reload(true);
												}
											});

										}
									});
								</script>
							}
								</table>
							</div>
							<div class="row">
								<div class="col-md-5 ml-auto">
									<div class="cart-page-total">
										<ul>
											<li>Tổng: <span>@ViewBag.totalCartItems.ToString("#,##0") VNĐ</span></li>
										</ul>
										<br />
										<form asp-action="OrderCart" method="get">
											<button class="btn btn-primary" type="submit" style="font:bold;">Đặt hàng</button>
										
										</form>
									</div>
								</div>
							</div>
					}
					else
					{
						<div class="row" style="padding-left: 450px;">
							<p>Chưa có sản phẩm trong giỏ hàng</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Main Content Area End Here -->