@model List<OnlineShop.Models.CartItem>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Main Content Area -->
<main class="main-content">
	<div class="cart-area section-space-y-axis-100">
		<div class="container">
			<div class="row">
				<div class="col-12">
					@if (Model != null && Model.Count() > 0)
					{
						<form asp-action="OrderCart" method="get">
							<div class="table-content table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th class="product-thumbnail">Ảnh sản phẩm</th>
											<th class="cart-product-name">Sản phẩm</th>
											<th class="product-price">Đơn giá</th>
											<th class="product-quantity">Số lượng</th>
											<th class="product-subtotal">Thành tiền</th>
											<th class="product_remove">Xoá</th>
										</tr>
									</thead>
									<tbody>
										@if (Model != null && Model.Count() > 0)
										{
											foreach (var item in Model)
											{
												<tr>
													<td class="product-thumbnail">
														<a href="#">
															<img src="~/upload/images/product/@item.Product.Image" alt="@item.Product.ProductName" style="border-radius:5px; max-height:100px; max-width: 100px;">
														</a>
													</td>
													<td class="product-name"><a href="#">@item.Product.ProductName</a></td>
													<td class="product-price"><span class="amount">@item.Product.PromotionalPrice.ToString("#,##0") VNĐ</span></td>
													<td class="product-price">
															<span class="amount">@item.Count</span>
													</td>
													<td class="product-subtotal"><span class="amount">@item.TotalMoney.ToString("#,##0") VNĐ</span></td>
													<td class="product_remove">
														<form asp-controller="ShoppingCart" asp-action="Remove" method="post">
															<input name="id" value="@item.CartItemId" type="hidden"/>
															<button type="submit" class="pe-7s-close"></button>
														</form>
													</td>
												</tr>
											}
										}
									</tbody>
								</table>
							</div>
							<div class="row">
								<div class="col-md-5 ml-auto">
									<div class="cart-page-total">
										<ul>
											<li>Tổng: <span>@Model.Sum(x => x.TotalMoney).ToString("#,##0") VNĐ</span></li>
										</ul>
										<br />
										<button class="btn btn-primary" type="submit" style="font:bold;">Đặt hàng</button>
									</div>
								</div>
							</div>
						</form>
					}
					else
					{
						<div class="row" style="padding-left: 450px;">
							<p>Chưa có hàng hoá trong giỏ hàng.</p>
						</div>
					}
				</div>
			</div>
		</div>
	</div>
</main>
<!-- Main Content Area End Here -->