@model IEnumerable<OnlineShop.Models.Order>
@{
    ViewData["Title"] = "Orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="main-wrapper">

    <!-- Begin Main Content Area -->
    <main class="main-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-11">
        <div class="myaccount-orders">
            <h4 class="small-title">Đơn hàng của tôi</h4>
            <div class="table-responsive">
                @if (ViewBag.numOfOrders > 0)
                {
                    <table class="table table-bordered table-hover">
                        <tbody>
                            <tr>
                                <th>Mã đơn hàng</th>
                                <th>Ngày đặt hàng</th>
                                <th>Tình trạng đơn hàng</th>
                                <th>Tình trạng thanh toán</th>
                                <th></th>
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td><a class="account-order-id" href="javascript:void(0)">#@item.OrderId</a></td>
                                    <td>@item.Date</td>
                                    <td>@item.Status.StatusName</td>
                                    @if (item.IsPay == 0)
                                    {
                                        <td>Chưa thanh toán</td>
                                    }    
                                    @if (item.IsPay == 1)
                                    {
                                        <td>Đã thanh toán</td>
                                    }
                                    <td>
                                        
                                        <a asp-action="OrderDetail" asp-controller="Customer" asp-route-id="@item.OrderId" class="btn btn-secondary btn-primary-hover"><span>Xem chi tiết</span></a>
                                    </td>
                                @if (item.StatusId == 1 || item.StatusId == 2 || item.StatusId == 7)
                                {
                                    <td>
                                        <a asp-action="CancelOrder" asp-controller="Customer" asp-route-id="@item.OrderId" class="btn btn-danger btn-primary-hover" style="width:130px; height:36px;"><span>Hủy</span></a>
                                    </td>
                                }
                                @if(item.StatusId == 6) 
                                {
                                    <td>
                                        <a asp-action="Received" asp-controller="Customer" asp-route-id="@item.OrderId" class="btn btn-success btn-primary-hover" style="width:130px; height:36px;"><span>Đã nhận</span></a>
                                    </td>
                                }
                                @if (item.StatusId == 3)
                                {
                                    <td>
                                        <a asp-action="Invoice" asp-controller="Customer" asp-route-id="@item.OrderId" class="btn btn-success btn-primary-hover"><span>Xuất hóa đơn</span></a>
                                    </td>
                                }
                            </tr>
                            }
                        </tbody>
                    </table>
                }
                @if(ViewBag.numOfOrders == 0)
                {
                   <p style="font-size:18px; padding-left: 510px;">
							Chưa có đơn hàng
					</p>
                }
            </div>
        </div>
        </div>
        </div>
        </div>
        </main>
        </div>
        <br />
        <br />

